pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://emmavaultofsecrets.vault.azure.net/secrets/OpenWeatherAPIKey?api-version=7.0",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.dateRanges",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1_copy1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "Bronze_Source_Weather_Historical",
									"type": "DatasetReference",
									"parameters": {
										"lat": 42.3601,
										"lon": -71.0589,
										"dataType": "hour",
										"start": "@item().start",
										"end": "@item().end",
										"appid": "@activity('Web1').output.value"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "hw2data",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"startDate": {
				"type": "string"
			},
			"endDate": {
				"type": "string"
			},
			"dateRanges": {
				"type": "array",
				"defaultValue": [
					{
						"start": "1694373328",
						"end": "1694978128"
					},
					{
						"start": "1694978128",
						"end": "1695582928"
					},
					{
						"start": "1695582928",
						"end": "1696187728"
					},
					{
						"start": "1696187728",
						"end": "1696792528"
					},
					{
						"start": "1696792528",
						"end": "1697397328"
					},
					{
						"start": "1697397328",
						"end": "1698002128"
					},
					{
						"start": "1698002128",
						"end": "1698606928"
					},
					{
						"start": "1698606928",
						"end": "1699215328"
					},
					{
						"start": "1699215328",
						"end": "1699820128"
					},
					{
						"start": "1699820128",
						"end": "1700424928"
					},
					{
						"start": "1700424928",
						"end": "1701029728"
					},
					{
						"start": "1701029728",
						"end": "1701634528"
					},
					{
						"start": "1701634528",
						"end": "1702239328"
					},
					{
						"start": "1702239328",
						"end": "1702844128"
					},
					{
						"start": "1702844128",
						"end": "1703448928"
					},
					{
						"start": "1703448928",
						"end": "1704053728"
					},
					{
						"start": "1704053728",
						"end": "1704658528"
					},
					{
						"start": "1704658528",
						"end": "1705263328"
					},
					{
						"start": "1705263328",
						"end": "1705868128"
					},
					{
						"start": "1705868128",
						"end": "1706472928"
					},
					{
						"start": "1706472928",
						"end": "1707077728"
					},
					{
						"start": "1707077728",
						"end": "1707682528"
					},
					{
						"start": "1707682528",
						"end": "1708287328"
					},
					{
						"start": "1708287328",
						"end": "1708892128"
					},
					{
						"start": "1708892128",
						"end": "1709496928"
					},
					{
						"start": "1709496928",
						"end": "1710098128"
					},
					{
						"start": "1710098128",
						"end": "1710702928"
					},
					{
						"start": "1710702928",
						"end": "1711307728"
					},
					{
						"start": "1711307728",
						"end": "1711912528"
					},
					{
						"start": "1711912528",
						"end": "1712517328"
					},
					{
						"start": "1712517328",
						"end": "1713122128"
					},
					{
						"start": "1713122128",
						"end": "1713726928"
					},
					{
						"start": "1713726928",
						"end": "1714331728"
					},
					{
						"start": "1714331728",
						"end": "1714936528"
					},
					{
						"start": "1714936528",
						"end": "1715541328"
					},
					{
						"start": "1715541328",
						"end": "1716146128"
					},
					{
						"start": "1716146128",
						"end": "1716750928"
					},
					{
						"start": "1716750928",
						"end": "1717355728"
					},
					{
						"start": "1717355728",
						"end": "1717960528"
					},
					{
						"start": "1717960528",
						"end": "1718565328"
					},
					{
						"start": "1718565328",
						"end": "1719170128"
					},
					{
						"start": "1719170128",
						"end": "1719774928"
					},
					{
						"start": "1719774928",
						"end": "1720379728"
					},
					{
						"start": "1720379728",
						"end": "1720984528"
					},
					{
						"start": "1720984528",
						"end": "1721589328"
					},
					{
						"start": "1721589328",
						"end": "1722194128"
					},
					{
						"start": "1722194128",
						"end": "1722798928"
					},
					{
						"start": "1722798928",
						"end": "1723403728"
					},
					{
						"start": "1723403728",
						"end": "1724008528"
					},
					{
						"start": "1724008528",
						"end": "1724613328"
					},
					{
						"start": "1724613328",
						"end": "1725218128"
					},
					{
						"start": "1725218128",
						"end": "1725822928"
					}
				]
			}
		},
		"annotations": []
	}
}