emmadf/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "emmadf"
		},
		"emmaDataLakeStorage_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'emmaDataLakeStorage'"
		},
		"OpenWeatherAPIhistoricalAirPollution_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "http://api.openweathermap.org/"
		},
		"emmaDataLakeStorage_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://emmastorage.dfs.core.windows.net/"
		},
		"emmaKeyVault_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://emmavaultofsecrets.vault.azure.net/"
		},
		"openWeatherAPIweather_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://history.openweathermap.org/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Web1",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {},
							"url": "https://emmavaultofsecrets.vault.azure.net/secrets/OpenWeatherAPIKey?api-version=7.0",
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Web1",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.dateRanges",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy data1_copy1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"storeSettings": {
												"type": "HttpReadSettings",
												"requestMethod": "GET"
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "Bronze_Source_Weather_Historical",
											"type": "DatasetReference",
											"parameters": {
												"lat": 42.3601,
												"lon": -71.0589,
												"dataType": "hour",
												"start": "@item().start",
												"end": "@item().end",
												"appid": "@activity('Web1').output.value"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "hw2data",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"startDate": {
						"type": "string"
					},
					"endDate": {
						"type": "string"
					},
					"dateRanges": {
						"type": "array",
						"defaultValue": [
							{
								"start": "1694373328",
								"end": "1694978128"
							},
							{
								"start": "1694978128",
								"end": "1695582928"
							},
							{
								"start": "1695582928",
								"end": "1696187728"
							},
							{
								"start": "1696187728",
								"end": "1696792528"
							},
							{
								"start": "1696792528",
								"end": "1697397328"
							},
							{
								"start": "1697397328",
								"end": "1698002128"
							},
							{
								"start": "1698002128",
								"end": "1698606928"
							},
							{
								"start": "1698606928",
								"end": "1699215328"
							},
							{
								"start": "1699215328",
								"end": "1699820128"
							},
							{
								"start": "1699820128",
								"end": "1700424928"
							},
							{
								"start": "1700424928",
								"end": "1701029728"
							},
							{
								"start": "1701029728",
								"end": "1701634528"
							},
							{
								"start": "1701634528",
								"end": "1702239328"
							},
							{
								"start": "1702239328",
								"end": "1702844128"
							},
							{
								"start": "1702844128",
								"end": "1703448928"
							},
							{
								"start": "1703448928",
								"end": "1704053728"
							},
							{
								"start": "1704053728",
								"end": "1704658528"
							},
							{
								"start": "1704658528",
								"end": "1705263328"
							},
							{
								"start": "1705263328",
								"end": "1705868128"
							},
							{
								"start": "1705868128",
								"end": "1706472928"
							},
							{
								"start": "1706472928",
								"end": "1707077728"
							},
							{
								"start": "1707077728",
								"end": "1707682528"
							},
							{
								"start": "1707682528",
								"end": "1708287328"
							},
							{
								"start": "1708287328",
								"end": "1708892128"
							},
							{
								"start": "1708892128",
								"end": "1709496928"
							},
							{
								"start": "1709496928",
								"end": "1710098128"
							},
							{
								"start": "1710098128",
								"end": "1710702928"
							},
							{
								"start": "1710702928",
								"end": "1711307728"
							},
							{
								"start": "1711307728",
								"end": "1711912528"
							},
							{
								"start": "1711912528",
								"end": "1712517328"
							},
							{
								"start": "1712517328",
								"end": "1713122128"
							},
							{
								"start": "1713122128",
								"end": "1713726928"
							},
							{
								"start": "1713726928",
								"end": "1714331728"
							},
							{
								"start": "1714331728",
								"end": "1714936528"
							},
							{
								"start": "1714936528",
								"end": "1715541328"
							},
							{
								"start": "1715541328",
								"end": "1716146128"
							},
							{
								"start": "1716146128",
								"end": "1716750928"
							},
							{
								"start": "1716750928",
								"end": "1717355728"
							},
							{
								"start": "1717355728",
								"end": "1717960528"
							},
							{
								"start": "1717960528",
								"end": "1718565328"
							},
							{
								"start": "1718565328",
								"end": "1719170128"
							},
							{
								"start": "1719170128",
								"end": "1719774928"
							},
							{
								"start": "1719774928",
								"end": "1720379728"
							},
							{
								"start": "1720379728",
								"end": "1720984528"
							},
							{
								"start": "1720984528",
								"end": "1721589328"
							},
							{
								"start": "1721589328",
								"end": "1722194128"
							},
							{
								"start": "1722194128",
								"end": "1722798928"
							},
							{
								"start": "1722798928",
								"end": "1723403728"
							},
							{
								"start": "1723403728",
								"end": "1724008528"
							},
							{
								"start": "1724008528",
								"end": "1724613328"
							},
							{
								"start": "1724613328",
								"end": "1725218128"
							},
							{
								"start": "1725218128",
								"end": "1725822928"
							}
						]
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Bronze_Source_Weather_Historical')]",
				"[concat(variables('factoryId'), '/datasets/hw2data')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Web1",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "GET",
							"headers": {},
							"url": "https://emmavaultofsecrets.vault.azure.net/secrets/OpenWeatherAPIKey?api-version=7.0",
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Web1",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "HistoricalAirPollutionBronzeSource",
								"type": "DatasetReference",
								"parameters": {
									"lon": -71.0589,
									"end": 1695168000
								}
							}
						],
						"outputs": [
							{
								"referenceName": "BronzeSink_HistoricalAirPollution",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/HistoricalAirPollutionBronzeSource')]",
				"[concat(variables('factoryId'), '/datasets/BronzeSink_HistoricalAirPollution')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BronzeSink_HistoricalAirPollution')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "emmaDataLakeStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "test"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/emmaDataLakeStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Bronze_Source_Weather_Historical')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "openWeatherAPIweather",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"lat": {
						"type": "float",
						"defaultValue": 42.3601
					},
					"lon": {
						"type": "float",
						"defaultValue": -71.0589
					},
					"dataType": {
						"type": "string",
						"defaultValue": "hour"
					},
					"start": {
						"type": "string",
						"defaultValue": "@item().start"
					},
					"end": {
						"type": "string",
						"defaultValue": "@item().end"
					},
					"appid": {
						"type": "string",
						"defaultValue": "@activity('Web1').output.value"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": {
							"value": "data/2.5/history/city?lat=@{dataset().lat}&lon=@{dataset().lon}&type=@{dataset().dataType}&start=@{dataset().start}&end=@{dataset().end}&appid=@{dataset().appid}",
							"type": "Expression"
						}
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/openWeatherAPIweather')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/HistoricalAirPollutionBronzeSource')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "OpenWeatherAPIhistoricalAirPollution",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"lat": {
						"type": "float",
						"defaultValue": 42.3601
					},
					"lon": {
						"type": "float",
						"defaultValue": -71.0589
					},
					"start": {
						"type": "int",
						"defaultValue": 1697760000
					},
					"end": {
						"type": "int",
						"defaultValue": 1695168000
					},
					"appid": {
						"type": "string",
						"defaultValue": "@activity('Web1').output.value"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": {
							"value": "data/2.5/air_pollution/history?lat=@{dataset().lat}&lon=@{dataset().lon}&start=@{dataset().start}&end=@{dataset().end}&appid=@{dataset().appid}",
							"type": "Expression"
						}
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/OpenWeatherAPIhistoricalAirPollution')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/hw2data')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "emmaDataLakeStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "bronze"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/emmaDataLakeStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/OpenWeatherAPIhistoricalAirPollution')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('OpenWeatherAPIhistoricalAirPollution_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/emmaDataLakeStorage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('emmaDataLakeStorage_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('emmaDataLakeStorage_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/emmaKeyVault')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('emmaKeyVault_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/openWeatherAPIweather')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('openWeatherAPIweather_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		}
	]
}